<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addUser}" th:object="${account}" method="post">
    <label for="id">ID</label>
    <input type="text" th:field="*{id}" id="id" placeholder="Email">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <input type="submit" value="Add User">
</form>
</body>
</html>